!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Health Bits - Information is Healthy
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "HealthBits is hard at work developing their solution to combat the issues plaguing the U.S.", :name => "description"}/
    %link{:href => "humans.txt", :rel => "author"}/
    %link{:href => "_/css/main.css", :rel => "stylesheet"}/
    %link{:href => "_/css/responsive.css", :rel => "stylesheet"}/
    %script{:src => "http://use.typekit.net/wle1fvu.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %script{:src => "_/js/vendor/wufoo.js"}
    %link{:href => "_/img/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "_/img/apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "_/img/apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "_/img/apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "_/img/apple-touch-icon-57x57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    
  %body{ "data-spy" => "scroll", "data-offset-top" => "200", "data-target" => "#sidenav"}
    %header.navbar.navbar-fixed-top{:role => "banner"}
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "index.html"} HealthBits
          .nav-collapse.collapse
            %ul.nav.pull-right
              %li
                %a{:href => "about.html"} About
              %li
                %a.icon-hb-facebook{"data-icon" => "", "data-tip" => "Facebook", :href => "https://www.facebook.com/HealthBits"}
                  %span.visuallyhidden Facebook
              %li
                %a.icon-hb-twitter{"data-icon" => "", "data-tip" => "Twitter", :href => "https://twitter.com/_HealthBits"}
                  %span.visuallyhidden Twitter

    .container.childpage
      .row
        .span2
          %ul.hidden-phone.nav.sidenav#sidenav{"data-spy" => "affix", "data-offset-top" => "70"}
            %li
              %a{:href => "https://www.facebook.com/HealthBits"} HealthBits on Facebook
            %li
              %a{:href => "https://twitter.com/_HealthBits"} HealthBits on Twitter
        .span2
          %aside.landmark
            %img{:src => "_/img/lm-hb@2x.png"}/
        .span8
          %article
            %h1 HealthBits is a new company with a major goal.
            %p 
              :markdown
                Our vision comes from the perspective and experience of our founders, who spent decades working at the intersection of direct patient care, healthcare processes, healthcare reform, and cutting edge sensing and computing technology.

            %p 
              :markdown
                It’s the recognition of need in patient care and the promise of new technologies that drives us. The founding team at Healthbits is comprised of M.D.’s, Ph.D.’s, and engineers with practitioner, industry, and research knowledge. Serving at university appointments, as directors in major hospital systems, and as senior engineers, we established numerous patents and published on this issue for years, and now we’re excited to bring this vision to fruition.

    %footer.container.page-footer
      %form#form1.form-inline{:action => "https://healthbits.wufoo.com/forms/z7x3p3/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form1", :novalidate => ""}
        %fieldset
          .pull-right 
            %small
              :markdown
                &copy; Copyright HealthBits, LLC 2013
          %legend Get Updates.
          %input#Field3.field.text.medium.input-small{:maxlength => "255", :name => "Field3", :onkeyup => "", :placeholder => "Name", :tabindex => "1", :type => "text"}/
          %input#Field4.field.text.medium.input-small{:maxlength => "255", :name => "Field4", :placeholder => "Email", :required => "", :spellcheck => "false", :tabindex => "2", :type => "email"}/
          %input#saveForm.btTxt.submit.btn{:name => "saveForm", :type => "submit", :value => "Submit"}/
          .hide
            %label{:for => "comment"} Do Not Fill This Out
            %textarea#comment{:cols => "1", :name => "comment", :rows => "1"}
            %input#idstamp{:name => "idstamp", :type => "hidden", :value => "EJrKES/8vSbf12K1ycRi+vJaFQQpRuONY30lZUOsPT0="}/


    / javascript
    %script{:src => "_/js/vendor/jquery-1.9.1.min.js"}
    %script{:src => "_/js/plugins.js"}
    %script{:src => "_/js/bootstrap-transition.js"}
    %script{:src => "_/js/bootstrap-affix.js"}
    %script{:src => "_/js/bootstrap-dropdown.js"}
    %script{:src => "_/js/bootstrap-scrollspy.js"}
    %script{:src => "_/js/bootstrap-collapse.js"}
    %script{:src => "_/js/main.js"}