!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Health Bits - Information is Healthy
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "HealthBits is hard at work developing their solution to combat the issues plaguing the U.S.", :name => "description"}/
    %link{:href => "humans.txt", :rel => "author"}/
    %link{:href => "_/css/main.css", :rel => "stylesheet"}/
    %link{:href => "_/css/responsive.css", :rel => "stylesheet"}/
    %script{:src => "http://use.typekit.net/wle1fvu.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %script{:src => "_/js/vendor/wufoo.js"}
    %link{:href => "_/img/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "_/img/apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "_/img/apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "_/img/apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "_/img/apple-touch-icon-57x57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/

  %body{ "data-spy" => "scroll", "data-offset-top" => "200", "data-target" => "#sidenav"}
    %header.navbar.navbar-fixed-top{:role => "banner"}
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "index.html"} HealthBits
          .nav-collapse.collapse
            %ul.nav.pull-right
              %li
                %a{:href => "about.html"} About
              %li
                %a.icon-hb-facebook{"data-icon" => "", "data-tip" => "Facebook", :href => "https://www.facebook.com/HealthBits"}
                  %span.visuallyhidden Facebook
              %li
                %a.icon-hb-twitter{"data-icon" => "", "data-tip" => "Twitter", :href => "https://twitter.com/hlthbts"}
                  %span.visuallyhidden Twitter
    .jumbotron.subhead.intro
      .container
        %article
          %img.brand{:src => "_/img/logo-large@2x.png"}/
          %h1 
            Seemless data integration for connected 
            %br
            and comprehensive care.
          %hr
          %h2
            With all of our advancements in technology and training, the healthcare industry isn’t getting any closer to being healed.
      .lead-in
        The
        %br
        Landscape
    #landscape.jumbotron.inverse
      .container
        .row
          .span2
            %ul.hidden-phone.nav.sidenav#sidenav{"data-spy" => "affix", "data-offset-top" => "1000"}
              %li
                %a{:href => "#landscape"} The Landscape
              %li
                %a{:href => "#wallets"} Our Wallets
              %li
                %a{:href => "#lives"} Our Lives
              %li
                %a{:href => "#errors"} Medical Errors
              %li
                %a{:href => "#opportunity"} An Opportunity
          .span2
            %aside.landmark
              %img{:src => "_/img/lm-system_sick@2x.png"}/
          .span8
            %article
              %h1 The System is Sick.
              %p The Healthcare system in the United States is one of the least efficient in the world, creating an enormous and expensive problem for millions of Americans.
              %p At Healthbits, we believe many of the issues plauging our country can be solved by harnessing the power of data to increase the efficiency and reliability of care delivered to patients. The healthcare system’s ailments might affect you more than you think.
              %figure.illustration
                %img{:src => "_/img/illustration-us_healthcare@2x.png"}/
      .lead-in
        Our
        %br
        Wallets
    #wallets.jumbotron
      .container
        .row
          .span2.offset2
            %aside.landmark
              %img{:src => "_/img/lm-cash@2x.png"}/
          .span8
            %article
              %h1 We’re spending more than ever.
              %p On average, our country spends 3 times more per person on healthcare than other developed countries.
              %figure.illustration
                %img{:src => "_/img/illustration-spending@2x.png"}/
      .lead-in
        Our
        %br
        Lives
    #lives.jumbotron.inverse
      .container
        .row
          .span2.offset2
            %aside.landmark
              %img{:src => "_/img/lm-lifespan@2x.png"}/
          .span8
            %article
              %h1 It’s a problem affecting our lives.
              %p Even with all that we spend on healthcare, we as a country we rank lower than ever on in overall life expectancy.
              %figure.illustration
                .row
                  %img.span4{:src => "_/img/illustration-51st@2x.png"}/
                  %img.span4{:src => "_/img/illustration-avg_age@2x.png"}/
      .lead-in
        Medical
        %br
        Errors
    #errors.jumbotron
      .container
        .row
          .span2.offset2
            %aside.landmark
              %img{:src => "_/img/lm-errors@2x.png"}/
          .span8
            %article
              %h1 We’re doing it to ourselves.
              %p Each week there are 40 wrong site surgeries resulting in deaths and injuries caused by errors and oversights. Adding up to 187,000 deaths per year, medical mistakes are the third leading cause of death in the country.
              %figure.illustration
                %img{:src => "_/img/illustration-errors@2x.png"}/

      .lead-in
        An
        %br
        Opportunity
    #opportunity.jumbotron.inverse
      .container
        .row
          .span2.offset2
            %aside.landmark
              %img{:src => "_/img/lm-opportunity@2x.png"}/
          .span8
            %article
              %h1 We have an opportunity to change this.
              %p Healthbits harnesses the the information availableto ensure your in-hospital experience is safe and reliable. We believe information is healthy and is the best defense against unnecessary waste and unintended consequences.
              %figure.illustration
                %img{:src => "_/img/illustration-opportunity@2x.png"}/
      .lead-in
        Get
        %br
        Updates
    .jumbotron.subhead.outro
      .container
        %h1 Coming soon to a hospital near you.
        %figure.illustration
          %img.hospital{:src => "_/img/hospital@2x.png"}/
        %hr 

        %form#form1.form-inline{:action => "https://healthbits.wufoo.com/forms/z7x3p3/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form1", :novalidate => ""}
          %fieldset
            %legend Get Updates.
            %input#Field3.field.text.medium.input-small{:maxlength => "255", :name => "Field3", :onkeyup => "", :placeholder => "Name", :tabindex => "1", :type => "text"}/
            %input#Field4.field.text.medium.input-small{:maxlength => "255", :name => "Field4", :placeholder => "Email", :required => "", :spellcheck => "false", :tabindex => "2", :type => "email"}/
            %input#saveForm.btTxt.submit.btn{:name => "saveForm", :type => "submit", :value => "Submit"}/
            .hide
              %label{:for => "comment"} Do Not Fill This Out
              %textarea#comment{:cols => "1", :name => "comment", :rows => "1"}
              %input#idstamp{:name => "idstamp", :type => "hidden", :value => "EJrKES/8vSbf12K1ycRi+vJaFQQpRuONY30lZUOsPT0="}/
     
  %footer.container.page-footer
    %small.text-center
      :markdown
        &copy; Copyright HealthBits, LLC 2013

    / javascript
    %script{:src => "_/js/vendor/jquery-1.9.1.min.js"}
    %script{:src => "_/js/plugins.js"}
    %script{:src => "_/js/bootstrap-transition.js"}
    %script{:src => "_/js/bootstrap-affix.js"}
    %script{:src => "_/js/bootstrap-dropdown.js"}
    %script{:src => "_/js/bootstrap-scrollspy.js"}
    %script{:src => "_/js/main.js"}