!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Health Bits - Information is Healthy
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "HealthBits is hard at work developing their solution to combat the issues plaguing the U.S.", :name => "description"}/
    %link{:href => "humans.txt", :rel => "author"}/
    %link{:href => "_/css/main.css", :rel => "stylesheet"}/
    %link{:href => "_/css/responsive.css", :rel => "stylesheet"}/
    %script{:src => "http://use.typekit.net/wle1fvu.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "_/img/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "_/img/apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "_/img/apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "_/img/apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "_/img/apple-touch-icon-57x57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    
  %body
    %header.navbar.navbar-fixed-top{:role => "banner"}
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} HealthBits
          .nav-collapse.collapse
            %ul.nav.pull-right
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#contact"} FAQ
              %li
                %a{:href => "#contact"} Contact
    .container
      .row
        .span4
          %h2 Information is Healthy
          %a.btn{:href => "#"} Button Style
          
        .span8
          %h1 This is an Example of a Header, HealthBits is the Best.
          %p 
            :markdown
              Lorem ipsum [dolor](https://www.google.com/) sit amet, consectetur adipiscing elit. Etiam et magna lacus. Aliquam laoreet luctus porttitor. Donec eu velit eu velit sodales ornare sit amet in felis. 
          %h2 Header Two
          %p 
            :markdown
              Lorem ipsum [dolor](https://www.google.com/) sit amet, consectetur adipiscing elit. Etiam et magna lacus. Aliquam laoreet luctus porttitor. Donec eu velit eu velit sodales ornare sit amet in felis. 
          %form.form-inline
            %fieldset
              %legend Form
              %input.input-small{:type => "text", :placeholder => "Name"}
              %input.input-small{:type => "text", :placeholder => "Email"}
              %button.btn{:type => "submit"} Submit
    
    / javascript
    %script{:src => "_/js/vendor/jquery-1.9.1.min.js"}
    %script{:src => "_/js/plugins.js"}
    %script{:src => "_/js/bootstrap-transition.js"}
    %script{:src => "_/js/bootstrap-alert.js"}
    %script{:src => "_/js/bootstrap-modal.js"}
    %script{:src => "_/js/bootstrap-dropdown.js"}
    %script{:src => "_/js/bootstrap-scrollspy.js"}
    %script{:src => "_/js/bootstrap-tab.js"}
    %script{:src => "_/js/bootstrap-tooltip.js"}
    %script{:src => "_/js/bootstrap-popover.js"}
    %script{:src => "_/js/bootstrap-button.js"}
    %script{:src => "_/js/bootstrap-collapse.js"}
    %script{:src => "_/js/bootstrap-carousel.js"}
    %script{:src => "_/js/bootstrap-typeahead.js"}
    %script{:src => "_/js/main.js"}