//
// hi
// ~~~~~~~~~~~
//
// Theme Specific Styles
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//
// Theme Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@transLength: .1s;
@imgPath: "../img";

//
// Theme Fonts
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


// Egizio Regular ~~~~~
@font-face {
    font-family: 'egizio_urwregular';
    src: url('../fonts/egizio-urw-webfont.eot');
    src: url('../fonts/egizio-urw-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/egizio-urw-webfont.woff') format('woff'),
         url('../fonts/egizio-urw-webfont.ttf') format('truetype'),
         url('../fonts/egizio-urw-webfont.svg#egizio_urwregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
// Egizio Bold ~~~~~
@font-face {
    font-family: 'egizio_urwbold';
    src: url('../fonts/egizio-urw-bold-webfont.eot');
    src: url('../fonts/egizio-urw-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/egizio-urw-bold-webfont.woff') format('woff'),
         url('../fonts/egizio-urw-bold-webfont.ttf') format('truetype'),
         url('../fonts/egizio-urw-bold-webfont.svg#egizio_urwbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
// Egizio Italic ~~~~~
@font-face {
    font-family: 'egizio_urwregular_italic';
    src: url('../fonts/egizio-urw-regular-italic-webfont.eot');
    src: url('../fonts/egizio-urw-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/egizio-urw-regular-italic-webfont.woff') format('woff'),
         url('../fonts/egizio-urw-regular-italic-webfont.ttf') format('truetype'),
         url('../fonts/egizio-urw-regular-italic-webfont.svg#egizio_urwregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
// Egizio Bold Italic ~~~~~
@font-face {
    font-family: 'egizio_urwbold_italic';
    src: url('../fonts/egizio-urw-bold-italic-webfont.eot');
    src: url('../fonts/egizio-urw-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/egizio-urw-bold-italic-webfont.woff') format('woff'),
         url('../fonts/egizio-urw-bold-italic-webfont.ttf') format('truetype'),
         url('../fonts/egizio-urw-bold-italic-webfont.svg#egizio_urwbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

//
// HTML Elements
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

figure {
    margin: (@navbarHeight) 0;
}

article {
    p {
        font-family: @altFontFamily;
    }
}

//
// Theme Classes
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.text-center {
    text-align: center;
}
.jumbotron {
    position: relative;
    padding: (@navbarHeight * 2.5) 0 @navbarHeight;
}
.inverse {
    background: @brandBlue;
    color: @darkBlue;
    h1, h2 { color: @ltBlue;}
}
.subhead {
    .text-center;
    .lead-in {
        margin-top: @navbarHeight;
    }
}

img.splash {
	margin-top: 10em;
}
img.hospital {max-width: 138px;}
.landmark {
    // img {max-width: 170px;}
}
.lead-in {
  .text-center;
  line-height: 1;
  background:  url("@{imgPath}/lead_in@2x.png") no-repeat bottom center;
  background-size: 100px 56px;
  min-height: 58px;
  padding: 0 10px 40px 10px;
  width: 116px;
  margin: 0 auto;
}
.intro, .outro {
  position: relative;
  z-index: 50;
  background: @ltBlue;
}
.sidenav {
  .box-sizing(border-box);
  width: (@gridColumnWidth * 2 + @gridGutterWidth);
  position: relative;
  z-index: 10;
  // .border-radius(6px);
  a {
    color: @transBlk;
  }
}
.sidenav li.active a {
  color: black;
}
.sidenav.affix {
  top: 120px;
  z-index: 10;
  // background: red;
}

//
// Theme Media Queries
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media (min-width: 1200px) {
  .sidenav {
      width: (@gridColumnWidth1200 * 2 + @gridGutterWidth1200);
    }
}


@media (min-width: 768px) and (max-width: 979px) {
  .sidenav {
    width: (@gridColumnWidth768 * 2 + @gridGutterWidth768);
  }
  .sidenav.affix {
    top: 50px;
  }
}

@media (max-width: 767px) {
    .jumbotron {
      padding: (@navbarHeight) 0;
    }
    .jumbotron.subhead {
      padding-top: (@navbarHeight - 60);
    }
    .landmark {
      img {max-width: 170px;};
      .text-center;
    }
}